{% extends 'base.html.twig' %}

{% block title %}Kanban Board{% endblock %}

{% block body %}
<h1>Kanban Board</h1>
<div>
    <h2>My Boards</h2>

    <div class="board-container">
        {% for board in ownerBoards %}
        <div class="board-card">
            <h3>{{ board.boardName }}</h3>
            <div class="board-actions">
                <a href="{{ path('app_board_show', {'id': board.id}) }}">View</a>
                <a href="{{ path('app_board_edit', {'id': board.id}) }}">Edit</a>
            </div>
        </div>
        {% else %}
        <p>No boards found</p>
        {% endfor %}
    </div>
    <a href="{{ path('app_board_new') }}" class="create-board-button">Create New Board</a>
</div>
<div>
    <h2>Associated Boards</h2>

    <div class="board-container">
        {% for board in userBoards %}
        <div class="board-card">
            <h3>{{ board.boardName }}</h3>
            <a href="{{ path('app_board_show', {'id': board.id}) }}">View</a>²
        </div>
        {% else %}
        <p>No associated boards found</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
