{% extends 'base.html.twig' %}

{% block title %}Board{% endblock %}


{% block stylesheets %}
<link href="{{ asset('boards/css/board.css') }}" rel="stylesheet" />

{% endblock %}

{% block body %}


<h1>Board</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ board.id }}</td>
            <td>{{ board.ownerid.id }}</td>
            <td>{{ userId }}</td>
        </tr>
        <tr>
            <th>Board_name</th>
            <td>{{ board.boardName }}</td>
        </tr>
    </tbody>
</table>

<a href="{{ path('app_board_index') }}">back to list</a>

{% if board.ownerid.id == userId %}
<a href="{{ path('app_board_edit', {'id': board.id}) }}">edit</a>
{% endif %}



{{ include('board/_delete_form.html.twig') }}



<div class="taskList-container">
    {% for taskList in taskLists %}

    <div class="taskList-card">
        <h3>{{ taskList.tasklistname }}</h3>
        <h4>{{ taskList.id }}</h4>

        

    </div>
    {% else %}
    <p>No Tasklists</p>
    {% endfor %}
    {{ form_start(formNewTaskList) }}
    {{ form_widget(formNewTaskList) }}
    <button class="btn">{{ button_label|default('New') }}</button>
    {{ form_end(formNewTaskList) }}
</div>
{% endblock %}